.question {
    background: #fff;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.qTitle {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 1rem 0;
}

.qTitle span {
    margin-right: 1rem;
    color: var(--active);
    font-size: 2.5rem;
}
